{%extends 'pagehead.html'%}
{%block body_block%}
{{form.errors}}

<div id="page" class="site login-show">
    <div class="container">
        <div class="wrapper">
            <div class="login">
                <div class="content-heading">
                    <div class="y-style">
                        <div class="logo">

                        </div>
                        <div class="welcome">
                            <h2>Reset <br> Password</h2>
                            <p>keep it as scecret</p>

                        </div>
                    </div>
                </div>

                <div class="content-form">
                    <div class="y-style">
                        <form action="" method="post">
                            {%csrf_token%}
                            <p>
                                <label>Old Password</label>
                                <input type="password" placeholder="Enter Your Old Password" name="oldpassword"
                                       id=" id_oldpassword">
                            </p>
                            <p>
                                <label> New Password</label>
                                <input type="password" placeholder="Enter Your  New Password" name="newpassword"
                                       id=" id_newpassword">
                            </p>
                            <p>
                                <label> Confirm Password</label>
                                <input type="password" placeholder="Confirm Your New Password" name="confirmpassword"
                                       id="id_confirmpassword">
                            </p>

                            <p>
                                <button type="submit">Change Password</button>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}